fastapi==0.115.12
uvicorn[standard]==0.34.3
sqlalchemy==2.0.41
alembic==1.16.1
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
bcrypt==4.3.0
python-dotenv==1.1.0
httpx==0.28.1
pytz==2025.2
pydantic[email]==2.11.5
python-multipart==0.0.20
